*{
  margin:0px;
  padding:10px;
  box-sizing: border-box;
  
}
body{
font-family: "Montserrat", sans-serif;
font-family: "Lora", serif;

}
a{
  text-decoration: none;
}
.father{
 display: flex;
 flex-flow: column nowrap;
}
.inner-margin{
  padding: 0 50px;
}
.header {
background: url('pictures/Screenshot-146.png'); 
background-position: center;
background-attachment: contain;
background-size: cover;
display: flex;
flex-flow: column nowrap;
}

  .menu{
      background: rgba(0, 128, 0, 0.2);   
      display: flex;     
      flex-flow: row nowrap;
      height: 60px;
      align-items: center;
      border-bottom: 1px solid rgba(255,255,255,.5);  /*0.5 representa la transparencia del color*/
  }
     .logo{
      flex: 1 1 auto;
      
      /*height: 30px;*/
     }
        .logo a{
          color: #fff;
          font-size: 30px;
        }
        .logo a:hover{
          color: #ccc;
        }
     .nav{
      flex: 5 1 auto;
      /*height: 30px;*/
     }
      .nav a{
        color: #fff;
        font-size: 11px;
        text-transform: uppercase;
        padding: 0 10px;
        letter-spacing: 2px;
      }
      .nav a:hover{
        color: #ccc;
      }
     .social{
      flex: 1 1 auto;
      display: flex;
      /*height: 30px;*/
     }
       .social a{
          font-size: 18px;
          color: #fff;
          padding: 0 10px;
       }
       .social a:hover{
        color: #ccc;

     }
  .principal-text{
      /*background: #E7F0DC;*/
      height: 580px;
      display: flex;
      align-items: center;
  }   
     h1{
        font-family:'Lora',serif;
        font-size: 21px;
        color: #fff;
        font-weight: 300;
        text-align: center;
        line-height: 1.6;
     }
.section{
  background: #F7F7F7;
  display: flex;
}

 .articles{
    background: #658147;
    flex: 2 1 auto;
    display: flex;
    flex-flow: row wrap;
  }

    .article{
      flex: 1 1 40%;
      color: #444;
      font-size: 13px;
      letter-spacing: 1x;
      margin: 10px 10px 0 0px;
      flex: 1 1 45%;
      background: #ececec;
    }
    .article img{
      width: 100%;
    }
    .article a{
      color:#fff;
      padding: 10px;
      background: #000;
      margin: 10px 0;
      display: inline-block; 
    }
    .article a:hover{
      background: #564cc3;
    }
    h3{
      color:#fff;
      font-size: 13px;
      padding: 10px 0;
      margin-top: -80px;
    }
    h2{
      font-size: 25px;
      text-transform: uppercase;
      padding: 0px 0 10px 0;
      color:#fff;
    }
    .navigation{
      background: #FFE9D0;
      flex: 1 1 100%;
      margin: 10px 10px 0 0px;
    }
    .navigation a{
      color: #000;
      font-size: 11px;
      text-transform: uppercase;
      padding: 0 10px;
      letter-spacing: 2px;
    }
  .aside{
      /*background: #FFFED3;*/
      flex: 1 1 auto;
      margin: 10px 5px 10px 0;
  }
  .aside img{
    width: 100%;
  }
  h4{
    background: #000;
    color: #fff;
    padding: 10px;
    text-transform: uppercase;
  } 

.footer{
  background: #000;
  display: flex;
  justify-content: center;
  margin-top: 10px;
}
  .foot{
     /*background: #BBE9FF;*/
     text-align: center;
  }
  .foot a{
    color: #fff;
    font-size: 11px;
    text-transform: uppercase;
    padding: 0 10px;
    letter-spacing: 2px
  }


@media all and (max-width: 1120px){
  .section{
      flex-direction: column;
  }
  .menu{
      flex-direction: column;
      height:auto
  }
  .aside{
      display: flex;
      justify-content: center;
  }
  h1{
    font-size: 15px;
  }
  .principal-text{
    height: 450px;
  }
}

@media all and (max-width: 762px){
  .articles{
      flex-direction: column;
  }
}

@media all and (max-width: 650px){
  .off{
    display:none;
  }
  .nav a{
    font-size: 25px;
  }
}

@media all and (max-width: 400px){
  .aside{
      flex-direction: column;
  }
}
